include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
recursive-include django_admin_fast_search *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
